            body
            {
                text-align: center;
                background: blue;
            }

            header
            {
                font-size: large;
            }

            main
            {
                font-size: medium;
            }

            footer
            {
                font-size: small;
            }

            table
            {
                text-align: center;

            }

            td
            {
                background-color: #ffffff;
                color: white;
                font-size: 22pt;
                font-family: Times;
                border: 5px solid grey;
            }

            .split
            {
            height: 100%;
            width: 50%;
            position: fixed;
            z-index: 1;
            top: 0;
            overflow-x: hidden;
            padding-top: 20px;
            }

            .left
            {
            left: 0;
            background-color: #111;
            }

            .right
            {
            right: 0;
            background-color: blue;
            }

            .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            }

            .centered img
            {
            width: 150px;
            border-radius: 50%;
            }

            ol, strong{
                color: blue;           
            }

            #id
            {
                font-size: larger;
            }

            @media (max-width: 999px) {
                .container {
                    background-color: yellow;
                }
                }